/* Make all text bold across the app */
.root, .label, .button, .text-field {
    -fx-font-weight: bold;
}

.timer-label {
    -fx-font-size:30px;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.scoreboard {
    -fx-background-radius: 5;
    -fx-padding: 20px;
}

.button {
    -fx-background-radius: 5;
    -fx-padding: 10px 20px;
    -fx-font-size: 15px;
}

.card {
    -fx-font-size: 30px;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: grey;
}

.card-header {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 30pt;
}

.btn-success {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
}

.btn-danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
}

.btn-warning {
    -fx-background-color: #ffc107;
    -fx-text-fill: black;
}

.timer-column {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20;
}

.timer {
    -fx-font-size:35pt;
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}

.penalty-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-min-width: 15px;
    -fx-max-width: 50px;
    -fx-min-height: 20px;
    -fx-max-height: 50px;
}

.penalty-label {
    -fx-font-size: 15px;
    -fx-border-width: 2;
    -fx-min-width: 15px;
    -fx-max-width: 50px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
}

.button:hover {
    -fx-background-color: lightgray;
}

.button.clicked {
    -fx-background-color: darkgray;
    -fx-text-fill: white;
}

.penalty-status {
    -fx-padding: 5;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-font-size: 14px;
}

.penalties-container {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.root {
    -fx-background-color: #f0f0f0;
}

.participant-panel {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
/* Increased padding -fx-border-style: solid;*/
    -fx-border-width: 3;
 /*Thicker borders for better visibility -fx-border-color: black;*/
    -fx-spacing: 20;
 /*Larger spacing between components*/
}

.header {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 24px;
 /*Larger font size -fx-padding: 15;*/
 /*More padding*/
}

.button {
    -fx-border-radius: 4px;
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-padding: 10 20;
 /*Larger buttons -fx-font-size: 18 px;*/
 /*Larger text in buttons*/
}

.penalty-label-container, .penalty-button-container {
    -fx-spacing: 10;  // Spacing between elements in the horizontal box
-fx-alignment: center-left;
}




.label{
    -fx-font-size: 18px;
}

.text-field{
    -fx-font-size: 20px;
}
.root {
    -fx-font-size: 30px; /* Default font size if no binding applies */
}